html {
	background-color:black;
	
	
}

main{
	font-family: "Nova Cut", Helvetica;
	color: white; 
  position: relative;
  margin: 50px auto;
  background-color: black;
  background-size: auto, 220px 220px; /* adjust 220px to your texture's natural tile size */
  padding: 56px 60px 64px;
  border: 1px solid white;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.4) inset,
    0 18px 40px rgba(43,28,16,0.25);
}
p{
  font-family: "Nova Cut", Helvetica;
}
a{
  color: white;
  font-family: "Nova Cut", Helvetica;
  text-decoration: none;
}


img{
  width:300px;
}

.bs1 {
  display: grid;
  place-items: center;
  

}

.bslink {
  grid-column: 1;
  grid-row: 1;
}

.bsimg {
  grid-column: 1;
  grid-row: 1;
}

#bs123 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 300px;
}

#bs1 {
  grid-column: 1;
}

#bs2 {
  grid-column: 2;
}


#textarea{
  align-items: center;
  text-align: center;
}

