html {
	background-color:black;
	
	
}

main{
  position: relative;
  margin: 12px auto;
  background-color: black;
  background-size: auto, 220px 220px; /* adjust 220px to your texture's natural tile size */
  padding: 56px 60px 64px;
  border: 1px solid white;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.4) inset,
    0 18px 40px rgba(43,28,16,0.25);
}
// font-family: "Nova Cut", Helvetica;
